
html {
    background-color: #F0F0F0;
    height: 100%;
  /*-webkit-filter: grayscale(100%);*/
  /*-moz-filter: grayscale(100%);*/
  /*-ms-filter: grayscale(100%);*/
  /*-o-filter: grayscale(100%);*/
  /*filter: grayscale(100%);*/
  /*filter: gray;*/
  /*filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/
}

body {
    height: 100%;
    margin: 0;
    font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 15;
}

.footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.item {
    flex: 1;
}

.mid {
    flex: 5;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: #fff;
    height: 600px;
    box-shadow: 10px 10px 10px #d2d2d2;
    border-radius: 10px;
}

.mid .head {
    flex: 1;
}

.mid .footer {
    flex: 1;
    font-family: 'Times New Roman', Times, serif;
}

.mid .content {
    flex: 12;
    display: flex;
}

.mid .content .left {
    flex: 2;
}

.mid .content .right {
    flex: 8;
    display: flex;
}

.mid .content .right .item {
    flex: 1;
    margin: 10px;
    /* border: 1px solid black; */
    box-shadow: 10px 10px 10px #d2d2d2;
    border-radius: 10px;
}

.mid .content .right .content-left{
    background-color: #FFB800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif
}
.mid .content .right .content-mid{
    background-color: #FF5722;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 10px;
}
.mid .content .right .content-right{
    background-color: #01AAED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.mid .content .right .content-right .blog a{
    text-decoration: none;
    color: black;
}

.mid .content .right .content-right .blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid .content .right .content-right .callme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid .content .right .item:hover{
    cursor: pointer;
    transition: all 0.6s;
    transform: scale(1.2);
}

.poster img {
    position:absolute;
    width: 400px;
    top: 50px;
    left: 100px;
    box-shadow: 10px 10px 10px #d2d2d2;
    border-radius: 10px;
}

.poster img:hover {
    cursor: pointer;
    transition: all 0.6s;
    transform: scale(1.1);
}